.header-wrapper {
    display: flex;
    text-align: left;
}

.header-title {
    display: flex;
}

.header-title:hover {
    cursor: pointer;
}

.header-title-logo {
    position: relative;
    width: 8rem;
    padding: 1rem;
}

.header-title-text {
    position: relative;
    width: 20rem;
    font-size: 2rem;
    padding: 0 1rem;
}

.header-search {
    position: relative;
    width: 100%;
    margin: 0 5rem;
}

.header-search-input {
    width: 100%;
}

.header-search-input input {
    width: 100%;
}