.model-wrapper {
    width: 100%;
}

.model-basic {
    display: inline-flex;
    margin-bottom: 2rem;
}

.model-poster img {
    width: 15rem;
}

.model-name {
    font-size: 3rem;
}

.model-info {
    text-align: left;
    margin: 0 2rem;
}

.model-details {
    margin: 1rem 2rem 0 0;
    display: flex;
}

.model-details li {
    padding-bottom: 1rem;
}

.model-details li:last-child {
    padding-bottom: 0;
}

.model-detail-title {
    font-weight: bold;
}

.media-credits {
    padding: 1rem 0;
}

.media-cast-list {
    display: flex;
    flex-wrap: wrap;
}

.media-cast-list li {
    display: flex;
    padding: 1rem;
    width: 50%;
}

.media-credits li:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.media-credits-crew {
    padding-bottom: 1rem;
}

.media-cast-profile {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.media-cast-profile img {
    height: auto;
    width: 100%;
    margin-top: -10%;
}

.media-cast-info {
    padding: 1rem;
}

.media-cast-name {
    display: block;
    font-weight: bold;
    padding-bottom: .2rem;
}

.media-cast-role {
    display: block;
    color: #757575
}

.person-credits {
    padding: 1rem 0;
    display: flex;
}

.person-cast {
    width: 50%;
    padding-right: 1rem;
}

.person-crew {
    width: 50%;
    padding-left: 1rem;
}

.media-cast-pagination {
    padding: 1rem 0;
    text-align: center;
}

.media-cast-pagination ul {
    display: inline-flex;
}