.model-wrapper {
    width: 100%;
}

.media-credits {
    padding: 1rem 0;
}

.person-credits {
    padding: 1rem 0;
    display: flex;
}

.person-cast {
    width: 50%;
    padding-right: 1rem;
}

.person-crew {
    width: 50%;
    padding-left: 1rem;
}

.media-cast-pagination {
    width: 100%;
}