.top-movies {
    margin: 0 12rem;
}

.top-movies-list ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
}

.top-movies-list li {
    padding: 0 §rem;

    width: 14vw;
    height: 70vh;
}

.top-movie {
    width: 15rem;
    padding: 0 1rem;
}

.top-movie img {
    max-width: 100%;
    max-height: 100%;
}