.search-result {
    padding: 0 1rem !important;
    margin-bottom: 2rem;
}

.search-category {
    padding: .5rem 0;
}

.search-result-list li {
    display: flex;
    padding: .5rem 1rem;
}

.search-result-list li:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.search-result-poster {
    width: 3rem;
}

.search-result-poster img {
    max-width: 100%;
    max-height: 100%;
}

.search-result-info-wrapper {
    position: relative;
    width: 100%;
    padding-left: 2rem;
}

.search-result-info span {
    display: block;
}

.search-result-year {
    color: #757575
}

.no-results {
    padding: 0 2rem
}