.top-picks ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
}

.top-picks li {
    padding: 0 §rem;

    width: 13rem;
}

.top-pick {
    width: 15rem;
    padding: 0 1rem;
    margin-bottom: 2rem
}

.top-pick img {
    max-width: 100%;
    max-height: 100%;
}